@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import "tailwindcss";

@theme {

   --text-headerFs: clamp(1.8rem, 1.5rem + 2vw, 3.8rem);
   --text-headerFss: 70px;
   --text-primaryFs: 44px;
   --text-PeraFs: 18px;

   --text-hoverHeaderFs: 16px;
   --text-hoverFs: 14px;
   --color-hoverPeraColor: #464a52;

   --color-footerBgColor: #14161A;
   --color-footerTextColor: #cfd2d6;

   --color-btnHoverColor: #0B5ED7;

   --color-brandColor: #1f5a44;

   --color-navBgColor: #FAF9F6;
   --color-bgColorOne: #F2F0EA;
   --color-bgColorTwo: #FAF9F6;

   --color-peraSeondColor: #14161A;
   --color-cardBgColor: #ffffff;

   --color-footerBgColor: #14161A;
   --color-footerPeraColor: #cfd2d6;

   --font-Fraunces: "Fraunces", serif;
   --font-interFont: "Inter", sans-serif;
   --font-MonoSpace: "Space Mono", monospace;

   --shadow-navShadow: 0 4px 16px rgba(0, 0, 0, 0.16);
}

::selection {
   background-color: var(--color-brandColor);
   color: #fff;
}

.active {
   color: var(--color-brandColor);
}



.bestSellerPagination {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}

.bestSellerPagination .swiper-pagination-bullet {
   width: 10px !important;
   height: 10px !important;
   margin: 0 !important;
   padding: 0 !important;

   display: block;

   border-radius: 999px;

   background: #dedbd3;

   opacity: 1;

   cursor: pointer;

   transition:
      width 0.35s ease,
      background-color 0.35s ease,
      transform 0.35s ease;
}

.bestSellerPagination .swiper-pagination-bullet:hover {
   transform: scale(1.1);
}

.bestSellerPagination .swiper-pagination-bullet-active {
   width: 30px !important;
   height: 10px !important;

   border-radius: 999px;

   background: #17634d;

   opacity: 1;
}



/* Swiper Pagination Container Alignment */
.swiper-pagination {
   position: relative !important;
   bottom: 0 !important;
   margin-top: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6px;
}

/* Inactive Dots (ছোট গোলাকার ডট) */
.swiper-pagination-bullet {
   width: 8px !important;
   height: 8px !important;
   background-color: #e5e7eb !important;
   /* Light Gray */
   opacity: 1 !important;
   margin: 0 !important;
   border-radius: 9999px !important;
   transition: all 0.3s ease-in-out !important;
   cursor: pointer;
}

/* Hover Effect on Inactive Dots */
.swiper-pagination-bullet:hover {
   background-color: #9ca3af !important;
}

/* Active Dot (সবুজ ক্যাপসুল / Pill Shape) */
.swiper-pagination-bullet-active {
   width: 24px !important;
   /* পিল শেপের দৈর্ঘ্য */
   height: 8px !important;
   background-color: #1b4332 !important;
   /* ছবির আসল ফরেস্ট গ্রিন কালার */
   border-radius: 9999px !important;
}